* text=auto eol=lf

*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary
*.zip   binary
*.7z    binary
*.dll   binary
*.exe   binary
*.pdb   binary
*.snk   binary
*.WM    binary

*.bin   binary
*.dat   binary

*.slnx      text eol=lf merge=union
*.csproj    text eol=lf
*.props     text eol=lf
*.targets   text eol=lf
*.sql       text eol=lf